html,
body,
ul,
ol,
dl,
dt,
dd,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
ul,
ol {
  list-style-type: none;
  text-align: left;
}
img {
  border: none;
}
body {
  font-family: "Hiragino Sans", "ヒラギノ角ゴシック", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", "Meiryo", "Helvetica", "Arial", sans-serif;
  color: #424242;
  font-weight: 300;
}
a {
  color: #424242;
}
a:hover {
  color: #0089ff;
}
.layout {
  position: relative;
  margin: 0 auto;
  font-weight: 300;
  width: 600px;
}
@media screen and (max-width: 680px) {
  .layout {
    width: calc(100% - 32px);
    overflow: hidden;
  }
}
body {
  position: relative;
}
.top {
  padding-top: 48px;
  text-align: center;
}
@media screen and (max-width: 680px) {
  .top {
    padding: 48px 16px 0;
  }
}
.top::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -moz-linear-gradient(-45deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.2) 9%, rgba(0, 0, 0, 0) 11%, rgba(0, 0, 0, 0) 15%, rgba(0, 0, 0, 0.2) 17%, rgba(0, 0, 0, 0.2) 19%, rgba(0, 0, 0, 0) 21%, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.1) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.2) 9%, rgba(0, 0, 0, 0) 11%, rgba(0, 0, 0, 0) 15%, rgba(0, 0, 0, 0.2) 17%, rgba(0, 0, 0, 0.2) 19%, rgba(0, 0, 0, 0) 21%, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.1) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.2) 9%, rgba(0, 0, 0, 0) 11%, rgba(0, 0, 0, 0) 15%, rgba(0, 0, 0, 0.2) 17%, rgba(0, 0, 0, 0.2) 19%, rgba(0, 0, 0, 0) 21%, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.1) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4d000000', endColorstr='#1a000000', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
}
@media screen and (max-width: 600px) {
  .top::before {
    background: -moz-linear-gradient(-45deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.2) 6%, rgba(0, 0, 0, 0) 7%, rgba(0, 0, 0, 0) 8%, rgba(0, 0, 0, 0.2) 10%, rgba(0, 0, 0, 0) 11%, rgba(0, 0, 0, 0) 12%, rgba(0, 0, 0, 0) 65%, rgba(0, 0, 0, 0.1) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.2) 6%, rgba(0, 0, 0, 0) 7%, rgba(0, 0, 0, 0) 8%, rgba(0, 0, 0, 0.2) 10%, rgba(0, 0, 0, 0) 11%, rgba(0, 0, 0, 0) 12%, rgba(0, 0, 0, 0) 65%, rgba(0, 0, 0, 0.1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.2) 6%, rgba(0, 0, 0, 0) 7%, rgba(0, 0, 0, 0) 8%, rgba(0, 0, 0, 0.2) 10%, rgba(0, 0, 0, 0) 11%, rgba(0, 0, 0, 0) 12%, rgba(0, 0, 0, 0) 65%, rgba(0, 0, 0, 0.1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4d000000', endColorstr='#1a000000', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
  }
}
.top img {
  width: 480px;
  height: auto;
  vertical-align: middle;
  box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.3);
}
@media screen and (max-width: 600px) {
  .top img {
    width: 400px;
  }
}
@media screen and (max-width: 432px) {
  .top img {
    width: 100%;
  }
}
.top span {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
}
.top h1 {
  display: block;
  background: url(../img/title_1.png) top left no-repeat;
  background-size: contain;
  width: 280px;
  height: 47px;
  margin: 0 auto 16px;
}
@media screen and (max-width: 600px) {
  .top h1 {
    width: 206px;
    height: 34px;
  }
}
.top h2 {
  display: block;
  background: url(../img/title_2.png) top left no-repeat;
  background-size: contain;
  width: 323px;
  height: 22px;
  margin: 0 auto 32px;
}
@media screen and (max-width: 600px) {
  .top h2 {
    width: 250px;
    height: 16px;
  }
}
.intro {
  text-align: center;
  font-size: 16px;
}
@media screen and (max-width: 320px) {
  .intro {
    font-size: 14px;
  }
}
.intro p {
  font-size: 24px;
  line-height: 1.4;
  margin: 40px 0;
}
@media screen and (max-width: 320px) {
  .intro p {
    font-size: 20px;
  }
}
.intro dt {
  line-height: 2;
}
.intro dt::before,
.intro dt::after {
  content: '-';
  padding: 0 8px;
}
.intro dd {
  line-height: 1.8;
}
.intro dd:nth-child(2n) {
  margin-bottom: 40px;
}
.write {
  padding: 0 10px;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 98%, #ddd 98%, #ddd 100%);
  background-size: 100% 2.4em;
  font-size: 16px;
  line-height: 2.4;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
@media screen and (max-width: 680px) {
  .write {
    padding: 0 8px;
  }
}
@media screen and (max-width: 320px) {
  .write {
    font-size: 14px;
  }
}
.write p:not(:last-child) {
  margin-bottom: 2.4em;
}
@media screen and (max-width: 600px) {
  .write .br {
    display: none;
  }
}
.name {
  text-align: right;
}
.access {
  margin-top: 52px;
  box-sizing: border-box;
  padding: 40px;
  border: 1px solid rgba(0, 0, 0, 0.08);
  box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.08);
  background-color: #fff;
}
@media screen and (max-width: 680px) {
  .access {
    padding: 32px;
  }
}
@media screen and (max-width: 600px) {
  .access {
    padding: 32px 24px;
  }
}
.access dt {
  margin-bottom: 16px;
  font-size: 20px;
  line-height: 1;
}
@media screen and (max-width: 320px) {
  .access dt {
    font-size: 16px;
  }
}
.access dd {
  font-size: 16px;
}
@media screen and (max-width: 320px) {
  .access dd {
    font-size: 14px;
  }
}
.access iframe {
  margin-top: 24px;
  width: 520px;
  height: 300px;
}
@media screen and (max-width: 680px) {
  .access iframe {
    width: 100%;
    height: 300px;
  }
}
.contact {
  margin-top: 52px;
  padding-bottom: 100px;
  text-align: center;
}
.contact_btn {
  display: block;
  text-decoration: none;
  padding: 16px;
  width: 280px;
  box-sizing: border-box;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.2);
  margin: 0 auto;
}
.contact_btn:hover {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.4);
}
